.topnav {
    background-color: black;
    overflow: hidden;

    font-family: 'Courier New', monospace;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(174, 174, 174);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #3f4d5a;
    color: white;
}

.topnav .socials{
    text-align: center;
    height: 20px;
    float: right;
    vertical-align: middle;
}

.topnav .icons{

    width: 25px;
}