<div class="topnav">
    <a class="active" href="index">Home</a>
    <a href="content">Content</a>
    <a href="books">Books</a>
    <a href="about">About</a>
    <a href="contact">Contact</a>

    <a class = "socials" href="https://www.instagram.com/7homas777/">
        <img class = "icons" th:src="@{assets/images/instagram.png}">
    </a>
    <a class = "socials" href="https://t.me/THREE7EVENMA7IA">
        <img class = "icons" th:src="@{assets/images/telegram.png}">
    </a>
    <a class = "socials" href="https://realthomas777.substack.com/">
        <img class = "icons" th:src="@{assets/images/substack.png}">
    </a>
    <a class = "socials" href="https://www.youtube.com/@7homas7V">
        <img class = "icons" th:src="@{assets/images/youtube.png}">
    </a>
    <a class = "socials" href="https://twitter.com/REAL_7homas777">
        <img class = "icons" th:src="@{assets/images/twitter.png}">
    </a>
</div>
