<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thomas777</title>
  <link rel="stylesheet" type="text/css" th:href="@{assets/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{assets/css/books.css}">
  <link rel="stylesheet" type="text/css" th:href="@{assets/css/header.css}">
</head>

<body>
<!-- Header Area Start -->
<header th:replace="header/header.html"></header>
<!-- Header Area End -->

<!-- Main Body Start -->
<div class="mainbody">
  <table>

    <colgroup>
      <col span="1" style="width: 20%;">
      <col span="1" style="width: 80%;">
    </colgroup>

    <tr>
      <td>
        <img th:src="@{assets/images/steelstorm2.png}">
      </td>
      <td style = "vertical-align: top;">
        <h1 style = "padding-top:20px;">STEELSTORM II</h1>
        <strong>RELEASED   </strong>January 15, 2023<br>
        <strong>AVAILABLE FORMAT(S)   </strong>Paperback/Kindle/E-Pub<br>
        <strong>PUBLISHER   </strong>Imperium Press<br>
        <p>Sang Nam Wong was a Cambodian mercenary, political partisan, and the father of Billy Wong, who would come to be known as the Great Khan. In Steelstorm II, we follow him as he plays an integral part in moving the world toward WARDAY, just as we follow Woldemar Mohamet Al-Husseini, Minister Surgeon and faithful aide to the man who would unleash ZARTAX.</p>
        <p>In this sequel to Steelstorm, we draw ever closer to nuclear hellfire and the scourge of the Demonium Pejorative, in whose black eyes we see ourselves and the terror of the truly unknowable.</p>
        <h4><a href = "https://www.imperiumpress.org/shop/steelstorm-ii/">Buy now</a></h4>
      </td>
    </tr>
    <tr>
      <td style = "padding-top:20px;">
        <img th:src="@{assets/images/steelstorm.png}">
      </td>
      <td style = "vertical-align: top;">
        <h1 style = "padding-top:40px;">STEELSTORM</h1>

        <strong>RELEASED   </strong>September 16, 2021<br>
        <strong>AVAILABLE FORMAT(S)   </strong>Paperback/Kindle/E-Pub<br>
        <strong>PUBLISHER   </strong>Imperium Press<br>

        <p>In the beginning, there was only Victor von Leers. In the end, there was ZARTAX—cyborg, living weapon, ultimate Executioner. After Warday, when millions of human lives ceased at once in a flash of nuclear hellfire, the lives of sadistic junkie Billy Wong, Surgeon-Minister Woldemar Mohamet al-Husseini, and Leers would be bound together by some unseen hand moving them toward God’s ultimate purpose.</p>
        <p>The debut novella of one of our foremost dissident thinkers, Steelstorm opens up terrifying vistas of Homeric violence and Venusian sky-city arcologies.</p>
        <p> With an essay outlining the philosophical implications of fiction as well as his own reasons for writing the book, Thomas777 has given us a major creative statement and a new mythos.</p>
        <h4><a href = "https://www.imperiumpress.org/shop/steelstorm/">Buy now</a></h4>
      </td>
    </tr>

  </table>
</div>

</body>

</html>