<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thomas777</title>

        <link rel="stylesheet" type="text/css" th:href="@{assets/css/common.css}">
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/index.css}">
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/header.css}">
    </head>

    <body>
    <!-- Header Area Start -->
    <header th:replace="header/header.html"></header>
    <!-- Header Area End -->

    <!-- Main Body Start -->
        <div class="mainbody">

            <table>
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 30%;">
                </colgroup>

                <tr>
                    <th colspan="3">
                        <img th:src="@{assets/images/title.png}" style="filter: brightness(1.3);" alt="logo">
                    </th>
                </tr>

                <tr>
                    <td colspan="3" style = "text-align: center;">
                        <h3>New Book Available!</h3>
                        <a href="https://www.imperiumpress.org/shop/steelstorm-ii/"><img th:src="@{assets/images/steelstorm2ad.png}" alt="Steelstorm2 cover"></a>
                        <br><br>
                    </td>
                </tr>
                <tr style="vertical-align:top">
                    <td>
                        <h2>ANNOUNCEMENTS</h2>

                    </td>
                    <td></td>
                    <td>
                        <h2>RECENT VIDEOS</h2>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div th:each="announcement : ${announcements}" style="background-color: #191A1E;" >
                            <h3 th:text="${announcement['announcementTitle']}"></h3>
                            <p th:text="${announcement['announcementText']}"></p>
                        </div>
                    </td>
                    <td></td>
                    <td>
                    <div th:each="video : ${videos}" style="background-color: #191A1E">
                        <h3 th:text="${video['videoTitle']}"></h3>
                        <div>[(${video.videoEmbeddedLink})]</div>
                        <br>
                    </div>
                    </td>
                </tr>

            </table>

        </div>

    </body>

</html>